.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  user-select: none;
  border-radius: 5px;
}

.stars {
  display: flex;
  justify-content: space-around;
}
