.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.cross {
  position: absolute;
  left: -3px;
  top: 15px;
}
