.realmChoices {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  top: 40px;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 5;
  padding-bottom: 0.5rem;
  overflow: scroll;
  user-select: none;
  cursor: pointer;
}

.realmChoice {
  width: 100%;
  text-align: center;
}

.realm {
  position: relative;
  height: 320px;
  width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.realmTitle {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  top: 5px;
  user-select: none;
}

.realmTitle:hover {
  cursor: pointer;
}

.score {
  position: absolute;
  bottom: 15px;
  width: 94%;
}
