.toggler {
  position: fixed;
  top: 5px;
  right: 70px;
  padding: 0.73em;
  background: transparent;
  cursor: pointer;
  border: 3px solid var(--text-color);
  border-radius: 5px;
  z-index: 9999;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.rules {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--background);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: color 0.6s ease,
              background-color 1s ease;
}

.rules:hover {
  cursor: all-scroll;
}

.rules.visible {
  display: block;
}

.title {
  font-size: 1.5em;
}

.drag {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.rule {
  display: flex;
  align-items: center;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--text-color);
  margin: 4px 0;
}
