.resourceRow {
  display: flex;
  align-items: center;
}

.minigame {
  display: flex;
  justify-content: center;
}

.resources {
  display: flex;
  flex-direction: column;
  position: relative;
}

.resources > * {
  margin-top: 17px
}

