.star {
  user-select: none;
  position: relative;
}

.starGlow {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #FFF070;
  height: 10px;
  width: 10px;
}

.star.interactive:hover {
  cursor: pointer;
}
