.actions {
  display: flex;
  justify-content: space-around;
}

.actions > * {
  margin-right: 0.5rem;
}

.action {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.separator {
  width: 130%;
  height: 1px;
  background-color: #ccc;
}
