.languageSelector {
  padding: 0.54em;
  background-color: var(--background);
  border: 3px solid var(--text-color);
  border-radius: 5px;
  transition: color 0.6s ease,
              background-color 1s ease;
}

.languageSelector > select {
  width: 100%;
  padding: 0.5em;
  border: none;
  color: var(--text-color);
  background-color: var(--background);
}
