.realm {
  position: relative;
  padding: 10px;
  width: 320px;
  height: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  position: absolute;
  bottom: 15px;
  width: 94%;
}
