.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > * {
  margin: 0 15px;
}

.smLogo {
  width: 90px;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
}

.author {
  font-size: 2rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center
}

.details > * {
  margin: 0 15px;
}

.description {
  width: 400px;
  text-align: center;
}

.totalScore {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.reset {
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
  border: 1px solid var(--text-color);
  width: 70px;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.realmsHashing {
  display: flex;
  flex-direction: column;
}

.inputHash {
  width: 50px;
  height: 1em;
  background-color: transparent;
  color: var(--text-color);
  margin-bottom: 5px;
}

.hashAndClipboard {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}

.hash {
  cursor: pointer;
  margin-bottom: 5px;
}

.notification {
  position: absolute;
  width: fit-content;
  left: calc(100% + 5px);
  display: none;
  animation: pop 3s;
}

@keyframes pop {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

