.hexagon {
  background-color: transparent !important;
  position: relative;
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  width: 41px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.hexagon:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  transform: scaleY(0.5) rotate(-45deg);
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.hexagon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -15px;
  transform: scaleY(0.5) rotate(-45deg);
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.content {
  z-index: 2;
}
