.hexagon {
  background-color: transparent !important;
  position: relative;
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  width: 41px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.hexagon:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  transform: scaleY(0.5) rotate(-45deg);
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.hexagon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -15px;
  transform: scaleY(0.5) rotate(-45deg);
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.content {
  z-index: 2;
}


.hexagon.interactive {
  border-style: dashed;
  border-top: none;
  border-bottom: none;
}

.hexagon.interactive:hover {
  border-style: solid;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

.hexagon.interactive:before {
  border-style: dashed;
  border-bottom: none;
  border-left: none;
}

.hexagon.interactive:hover:before {
  border-style: solid;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}

.hexagon.interactive:after {
  border-style: dashed;
  border-top: none;
  border-right: none;
}

.hexagon.interactive:hover:after {
  border-style: solid;
  border-top: none;
  border-right: none;
  cursor: pointer;
}

.hexagon.interactive.marked {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-top: none;
  border-bottom: none;
}

.hexagon.interactive.marked:before {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-bottom: none;
  border-left: none;
}

.hexagon.interactive.marked:after {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-top: none;
  border-right: none;
}
