.row {
  display: flex;
  justify-content: space-around;
}

.wines {
  display: flex;
  justify-content: space-around;
}

.stars {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
