.input {
  background-color: var(--background);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  transition: all 1s ease;
}

.big {
  width: 22px;
  height: 22px;
}

.small {
  width: 15px;
  height: 15px;
}

.resource {
  text-align: center;
  padding-left: 3px;
}
