.castles {
  display: flex;
  justify-content: space-around;
}

.castle {
  display: flex;
  align-items: flex-end;
}

.tower {
  display: flex;
  flex-direction: column-reverse;
}

.door {
  user-select: none;
  cursor: default;
  text-align: center;
  background-color: #f0f0f0;
  width: 27px;
  height: 27px;
  border: 1px solid #000;
}
