.dice {
  display: flex;
  justify-content: space-around;
}

.happy {
  display: flex;
}

.sad {
  display: flex;
}

.requirements {
  padding: 0 44px;
  display: flex;
  justify-content: space-around;
}
