.round {
  display: flex;
  flex-direction: column;
}

.roundHeader {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.turnsBox {
  display: flex;
}

.title {
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
}

.turns {
  display: flex;
}

.turns > div {
  margin: 10px;
}

.turn {
  display: flex;
  margin-top: 10px;
}

.realms {
  display: flex;
}
